<div>
  <%= render 'main/components/section1' %>
  <%#= render 'main/components/section2' %>
  <%#= render 'main/components/section3' %>
  <%#= render 'main/components/section4' %>
  <%#= render 'main/components/section5' %>
</div>
