<section id="Section4" class="">
  <h1 class="pb-4">
    <b>Ca</b><b class="h-line">tálo</b><b>go</b>
  </h1>
  <div class="rt">
    <p class="">Si deseas descargar nuestro catálogo de productos da clic en el siguiente botón</p>
    <button type="button" class="dwnld btn btn-success pb-2 mb-3">
      Descargar Catálogo
    </button>
    <p class="">o si solo quieres visualizarlo te lo mostramos a continuación(próximamente)</p>
  </div>
</section>