<section id="Section2" class="">
  <h2 class="pb-4">¿Quienes somos?</h1>
  <p class="">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
</section>