<section id="Section3" class="container vh-100 d-flex flex-column px-5">
  <h1 class="sec3-h text-center">
    <b>Cat</b><b class="h-line">egor</b><b>ías</b>
  </h1>
  <div class="row align-content-between justify-content-between">
    <div class="cs c1 card col-12"> <%# vh-40 %>
      <div class="card-body v-center">
        <h3 class="card-title h2 text-center">Card title 1</h3>
      </div>
    </div>
    <div class="cs c2 card"> <%# vh-40-sm vh-25 %>
      <div class="card-body v-center">
        <h3 class="card-title h2 text-center">Card title 2</h3>
      </div>
    </div>
    <div class="cs c3 card">
      <div class="card-body v-center">
        <h3 class="card-title h2 text-center">Card title 3</h3>
      </div>
    </div>
    <div class="cs c4 card">
      <div class="card-body v-center">
        <h3 class="card-title h2 text-center">Card title 4</h3>
      </div>
    </div>
    <div class="cs c5 card">
      <div class="card-body v-center">
        <h3 class="card-title h2 text-center">Card title 5</h3>
      </div>
    </div>
  </div>
</section>