<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="nav-item dropdown">
    <a class="nav-link navbar-toggler-icon" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
    </a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
      <li><a class="dropdown-item" href="#">Action</a></li>
      <li><a class="dropdown-item" href="#">Another action</a></li>
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item" href="#">Something else here</a></li>
    </ul>
  </div>
  <a class="navbar-brand justify-self-center text-center w-25" href="#">
    <%= image_tag "logo", class: 'logo w-25' %>
  </a>
  <div class="navitem"></div>
</nav>